# Ignore Python bytecode files
*.pyc

# Ignore Python cache files
__pycache__

# Ignore IDE files
.vscode/
.idea/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore virtual environment directories
venv/*